<div class="reset-password">
  <div class="form-wrapper">
  <h2>Reset Password</h2>
  <form (ngSubmit)="onSubmit()">
    <label for="password">New Password:</label>
    <input
      type="password"
      [(ngModel)]="password"
      name="password"
      required
    />

    <label for="confirmPassword">Confirm Password:</label>
    <input
      type="password"
      [(ngModel)]="confirmPassword"
      name="confirmPassword"
      required
    />

    <button type="submit" >Reset Password</button>
  </form>


  <p class="message" *ngIf="message">{{ message }}</p>

  <a class="link" routerLink="/login">Back to Login</a>
</div>
</div>