
    <section id='about' class='about-section section'>

        <div class='basic-info section-block'>

            <div class='container'>

                <div class='section-header text-center'>

                    <h2>About Me</h2>

                    <!--divider-->
                    <div class='divider-draft center'></div>
                    <!--/divider-->


                </div>

                <div class='row'>

                    <div class='col-md-4 about-img'></div>

                    <div class="flex-1 flex justify-end">
                        <img alt="Foto de Vinicius Ferro" width="400" height="400" decoding="async" data-nimg="1"
                            class="h-auto max-w-full object-cover" style="color:transparent"
                            src="../../../assets/img/fotoperfil.jpg" />
                    </div>

                    <div class='col-md-8 about-info'>




                        <p>
                            I am a dedicated and dynamic professional actively transitioning into the field of
                            Information
                            Technology, with a strong passion for learning and growth. Currently studying to become a
                            full
                            stack developer, I have recently completed a Certificate in Computing Science.
                        </p>
                        <p>
                            My focus is on writing clean, efficient, and maintainable code, with a keen interest in
                            software
                            development. I possess robust problem-solving skills, the ability to navigate complex
                            challenges, and a meticulous, detail-oriented approach. Fluent in both English and
                            Portuguese, I
                            am eager to contribute to technology teams and projects, particularly in an entry-level
                            opportunity where I can further develop my skills in software and full stack development.
                        </p>

                        <div class='clearfix'></div>


                        <ul class='info-list'>

                            <li>
                                <div class='inner'>
                                    <h4>Name</h4>
                                    <p>Vinicius Ferro</p>
                                </div>
                            </li>
                            <li>
                                <div class='inner'>
                                    <h4>Age</h4>
                                    <p id="age"></p>
                                </div>
                            </li>
                            <li>
                                <div class='inner'>
                                    <h4>Hometown</h4>
                                    <p>Goiânia - GO/Brazil</p>
                                </div>
                            </li>



                        </ul>

                        <!--
								<a href='https://linktr.ee/viniciusfmorais' class='symp-btn' >Linktree</a>
								<a href='https://www.linkedin.com/in/viniciusferrodemorais/' class='symp-btn' >LinkedIn</a>
								<a href='https://github.com/viniciusfmorais' class='symp-btn' >GitHub</a> 
							
								
								<a href='#' class='symp-btn link-btn' ><i class='ion-ios-download' ></i>Download Resume</a>					
								-->

                    </div>



                </div>




            </div>


        </div>

        <div class='about-icons section-block'>

            <div class='container'>

                <div class='row'>

                    <div class='col-md-3'>
                        <div class='service'>

                            <div class='icon'>
                                <i class='ion-ios-lightbulb'></i>
                            </div>

                            <div class='content'>

                                <h4>Creative</h4>

                                <p>
                                    I am a creative person, always looking for new ways to solve problems and innovate.
                                    I
                                    believe creativity is an essential skill in any field, and I am always open to
                                    experimenting and learning from new approaches.
                                </p>

                            </div>

                        </div>
                    </div>

                    <div class='col-md-3'>
                        <div class='service'>

                            <div class='icon'>
                                <i class='ion-trophy'></i>
                            </div>

                            <div class='content'>

                                <h4>Winner</h4>

                                <p>
                                    I have a winning spirit. I am not the type to give up easily and always strive to
                                    achieve the best results. I believe that perseverance and dedication are key to
                                    standing
                                    out in any journey.
                                </p>

                            </div>

                        </div>
                    </div>

                    <div class='col-md-3'>
                        <div class='service'>

                            <div class='icon'>
                                <i class='ion-ios-glasses'></i>
                            </div>

                            <div class='content'>

                                <h4>Smart</h4>

                                <p>
                                    With an analytical mind and a thirst for learning, I am always looking to improve my
                                    skills and acquire new knowledge. I believe continuous learning is the key to
                                    personal
                                    and professional success.
                                </p>

                            </div>

                        </div>
                    </div>

                    <div class='col-md-3'>
                        <div class='service'>

                            <div class='icon'>
                                <i class='ion-ios-bolt'></i>
                            </div>

                            <div class='content'>

                                <h4>Powerful</h4>

                                <p>
                                    My focus is to be effective and productive, maximizing my performance. I know how to
                                    channel my energy and skills to achieve great goals without losing sight of what
                                    really
                                    matters.
                                </p>

                            </div>

                        </div>
                    </div>



                    <div class='col-md-3'>
                        <div class='service'>

                            <div class='icon'>
                                <i class='ion-help-buoy'></i>
                            </div>

                            <div class='content'>

                                <h4>Helper</h4>

                                <p>
                                    I love helping others. I always care about supporting those around me, whether at
                                    work,
                                    in collaborative projects, or in personal life. I believe that together we can
                                    accomplish much more.
                                </p>

                            </div>

                        </div>
                    </div>

                    <div class='col-md-3'>
                        <div class='service'>

                            <div class='icon'>
                                <i class='ion-happy'></i>
                            </div>

                            <div class='content'>

                                <h4>Intelligent</h4>

                                <p>
                                    I strive to develop my emotional and technical intelligence in all areas of my life.
                                    I
                                    believe being intelligent is not just about learning facts but understanding the
                                    people
                                    and situations around us.
                                </p>

                            </div>

                        </div>
                    </div>

                    <div class='col-md-3'>
                        <div class='service'>

                            <div class='icon'>
                                <i class='ion-ios-game-controller-b'></i>
                            </div>

                            <div class='content'>

                                <h4>Gamer</h4>

                                <p>
                                    I am a huge gaming enthusiast. This passion is not only a hobby but also a way to
                                    learn
                                    and relax. Games teach me how to work as a team, think strategically, and enjoy the
                                    process along the way.
                                </p>

                            </div>

                        </div>
                    </div>


                    <div class='col-md-3'>
                        <div class='service'>

                            <div class='icon'>
                                <i class='ion-ios-pulse-strong'></i>
                            </div>

                            <div class='content'>

                                <h4>Healthy</h4>

                                <p>
                                    I value a healthy lifestyle, balancing work, diet, and physical activities. I
                                    believe
                                    that keeping both the body and mind in good shape is essential to reach our full
                                    potential in life.
                                </p>

                            </div>

                        </div>
                    </div>




                </div>


            </div>
        </div>


        <div class='footer bg-lightgray section-block'>

            <div class='container'>

                <div class='row'>

                    <div class='col-xs-6 text-left'>
                        <h4>Vinicius Ferro</h4>
                    </div>

                    <div class='col-xs-6 text-right'>
                        <ul class='footer-social'>
                            <li>
                                <a href='https://www.linkedin.com/in/viniciusferrodemorais/' target="_blank"
                                    rel="noopener noreferrer">
                                    <i class='ion-social-linkedin'></i>
                                </a>
                            </li>
                            <li>
                                <a href='https://github.com/viniciusfmorais' target="_blank" rel="noopener noreferrer">
                                    <i class='ion-social-github'></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>


            </div>

        </div>


    </section>


