@import '../../../styles/variable.scss';

form{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 34px;
}

.forgot-password {
  align-self: flex-end;
  font-size: 14px;
  text-decoration: underline;
  color: $secondary-color;
  cursor: pointer;
}
